<footer>
    <!-- storing all footer information-->
    <div class="copyright-info">
        <img alt='copyright-logo' src="/images/logo/copyright.svg" width="20" height="20">
        <a href="/"> Let's Trade</a>
        |
        <a href="/main/about"> About </a>
        |
        <a href="/main/contact">Contacts</a>
        |
        <a href="/main/contact">Career</a>


    </div>
    <div class="social-networks">
        <div>

            <a href="https://www.linkedin.com/in/samihan-jawalkar-b38457a1/" target="_blank"><img
                    alt='linkedin-logo' src="/images/logo/linkedin-in.svg" width="20" height="20"></a>

            <a href="https://www.linkedin.com/in/samihan-jawalkar-b38457a1/" target="_blank"><img alt='fb-logo'
                    src="/images/logo/facebook.svg" width="20" height="20"></a>

            <a href="https://www.linkedin.com/in/samihan-jawalkar-b38457a1/" target="_blank"><img alt='twitter-logo'
                    src="/images/logo/twitter.svg" width="20" height="20"></a>

        </div>
    </div>

</footer>



</body>

</html>