<%- include('./partials/header.ejs',{cssurl:'/css/common.css'}) %>
<main>
   <h1> Let's Trade </h1>
   <h2>
       Created By Samihan Jawalkar,
   </h2>
   <h2> Student of University of North Carolina at Charlotte.</h2>
   <p> Contact details:</p>
   <p> Mobile no: 7896 544 123</p>
   <p>Email iD: samihan.jawalkar@gmail.com</p>
   <p>For Job send mail to Carrer@letstrade.com</p>
</main>
<%- include('./partials/footer.ejs') %>   