<%- include('./partials/header.ejs',{cssurl:'/css/main.css'}) %>
    <main>
        <!-- stoing the main page, this would be divided into 2 part aside -->

        <aside class="company-info">
            <h1><b><i>Let's Trade</i></b></h1>
            <p>Let's Trade is like a Old School exchage.
            <p>Over here, you can exchage antique items, collectable items, etc</p>
            <p> You can exchage any item you want with any thing you like.
            <p>Everything you want to trade is available in our garage.</p>
            <button class='lt_button' onclick="location.href='/trade/trades'">Let's Trade</button>
        </aside>
        <aside class="menu-opt">

        </aside>

    </main>

    <%- include('./partials/footer.ejs') %>    